<h1 class="text-center">Welcome to the Scraper</h1>

<div class = "row">
	<div class="col-xs-6 col-sm-3">
	</div>
	<div class="col-xs-6 col-sm-2">
		<h2>Post Comment</h2>
		<form method="POST" action="/comment" class="button-size">
			<textarea type="text" name="comment"></textarea>
			<br>
			<button class="btn btn-warning type"="submit">Submit comment</button>
		</form>
	</div>
	<div class="col-xs-6 col-sm-2">
		<h2>Album Title</h2>
		<div id="apiResults"></div>
		<button id="nextAlbum" class="btn btn-warning">Next Album</button>
	</div>
	<div class="col-xs-6 col-sm-2">
		<h2>Review Comments</h2>
		{{#each comments}}
			{{#if this.status}}
		<p class="alert alert-danger" style="width: 40%">
				{{this.comment}}
		</p>
			{{/if}}
		{{/each}}
		<form action="/update?_method=PUT" method="POST">
			<input type="hidden" name="status" value="{{this.status}}">
			<button type="submit" class="btn btn-warning">Delete Comment</button>
		</form>
	</div>
	<div class="col-xs-6 col-sm-3">
	</div>
</div>